#h1{
    background-color: darkorchid;
    text-align: left;
    font-family: Arial;
    color: blue
}
#h2{
    text-align: left;
    font-family: Arial;
    color: darkmagenta;
}

#div-texto{
    text-align: left;
    font-family: Arial;

}