#h1{
    background-color: darkorchid;
    text-align: left;
    font-family: Arial;
    color: white
}
#h2{
    text-align: left;
    font-family: Arial;
    color: darkmagenta;
}

#div-texto{
    text-align: left;
    font-family: Arial;

}

#div-footer{
    text-align: center;
    color: white;
    background-color: palevioletred; 
    font-family: Arial;
    padding-bottom: 0.5em;
}